<div class="drawer-header-flex">
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="mdc-top-app-bar__navigation-icon layout-drawer__toggle">
          <i class="material-icons">menu</i>
        </button>
        <span class="mdc-top-app-bar__title">Go App</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        <button class="material-icons mdc-top-app-bar__action-item" aria-label="Notifications">notifications</button>
        <button class="material-icons mdc-top-app-bar__action-item" aria-label="Apps">apps</button>
        <button class="material-icons mdc-top-app-bar__action-item">bookmark</button>
      </section>
    </div>
  </header>
</div>