//@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');


.app .menu-close {
  display: none;
}

.app.drawer--open .menu-open {
  display: none;
}

.app.drawer--open .menu-close {
  display: block;
}

.mdc-list-item {
  user-select: none;
}

.theme1 {
  --mdc-theme-primary: #19262d;
  --mdc-theme-secondary: green;
  --mdc-theme-background: white;
}

.demo-cell {
  background: white;
  border-radius: 5px;
  height: 100px;
}

.mdc-paper {
  background: white;
}

.avatar {
  height: 30px;
  border-radius: 50%;
}

.element-card.earth {
  --mdc-theme-primary: #795548;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.element-card.wind {
  --mdc-theme-primary: #9e9e9e;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
}

.element-card.fire {
  --mdc-theme-primary: #f44336;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.element-card.water {
  --mdc-theme-primary: #00bcd4;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
}

.mdc-drawer__content {
  height: 100vh;
}

.drawer-header-flex {
  display: inline-flex;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.drawer-container-flex {
  display: inline-flex;
}