<div class="page-header">
  <h1>Theme#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= themesPath() %>" class="btn btn-info">Back to all Themes</a></li>
  <li class="list-inline-item"><a href="<%= editThemePath({ theme_id: theme.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= themePath({ theme_id: theme.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>URI</strong>: <%= theme.URI %>
</p>
<p>
  <strong>BaseUri</strong>: <%= theme.BaseUri %>
</p>
<p>
  <strong>Main</strong>: <%= theme.Main %>
</p>
<p>
  <strong>Error</strong>: <%= theme.Error %>
</p>
<p>
  <strong>ErrorChromeless</strong>: <%= theme.ErrorChromeless %>
</p>
<p>
  <strong>Options</strong>: <%= theme.Options %>
</p>
<p>
  <strong>DisplayName</strong>: <%= theme.DisplayName %>
</p>
<p>
  <strong>DemoLink</strong>: <%= theme.DemoLink %>
</p>
<p>
  <strong>Description</strong>: <%= theme.Description %>
</p>
